.header {
    width: 100%;
    background-color: #2874f0;
    height: 10%;
}
.main{
    margin-left: 10%;
}

.loginPage {
    margin-bottom: 2%;
}

#search {
    margin-left: 5%;
    margin-top: 1%;
    width: 30%;
    height: 50%;
}

form {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
    border-style: outset;
}

h2 {
    text-align: center;
}

input {
    border-radius: 0.8em;
    outline-style: none;
}

#login {
    color: rgb(8, 7, 7);
    margin-left: 33%;
    cursor: pointer;
}

#login :hover {
    color: honeydew;
}

span {
    color: rgb(69, 10, 233);
}

#register {
    margin-left: 16%;
    color: rgb(10, 9, 9);
    cursor: pointer;
}

#register:hover {
    color: honeydew;
}

#caution {
    color: rgb(3, 3, 3);
}