.header{
    width: 100%;
    background-color: #2874F0;
    height: 12%;
 }
 #search{
     margin-left: 5%;
     margin-top: 1%;
     width: 30%;
     height: 50%;
     
 }
 #loginButton
 {
     background-color: white;
     width: 10%;
     height: 50%;
     margin-left: 15%;
     color: rgb(88, 188, 235);
 }
 #logoutButton
 {
     background-color: white;
     width: 10%;
     height: 50%;
     margin-left: 15%;
     color: rgb(88, 188, 235);
 }
#dropdown{
    margin-left: 6%;
    background-color:  #2874F0;
    outline-style: none;
    width: 10%;
    height: 50%;
}
 #cart{
     background-color: white;
     width: 10%;
     height: 50%;
     margin-left: 5%;
     color: rgb(88, 188, 235);
 }
 .subHeader{
    margin-left: 20% ;
 }
 #heading{
     list-style-type: none; 
 }
 #men{
     display: inline;
     margin-left: 10%;
     cursor: pointer;
     outline-style: none;
 }
 #women{
     display: inline;
     margin-left: 20%;
     cursor: pointer;
     outline-style: none;
 }
 #electronics{
     display: inline;
     margin-left: 20%;
     cursor: pointer;
     outline-style: none;
 }
 #grocery{
     display: inline;
     margin-left: 20%;
     cursor: pointer;
     outline-style: none;
 }
 