<div class="header">
    <img src="assets/images/myCart.jfif" routerLink="/dashboard" style="width: 3%; margin-left: 2%; cursor: pointer;" />
    <input  id="search" type="search" placeholder="Search for products, brands and more" />
    <span *ngIf="login.loginStatus===0" (click)="loginButton()">
        <input type="submit" class="btn" value="Login" id="loginButton" />
    </span>
    <span *ngIf="login.loginStatus === 1" (click)="logoutButton()">
        <input type="submit" class="btn" value="Logout" id="logoutButton" />
    </span>
    <button id="dropdown" class="btn  dropdown-toggle" data-toggle="dropdown">
        More
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Notification preferences</a>
        <hr>
        <a class="dropdown-item" href="#">Sell on MyCart</a>
        <hr>
        <a class="dropdown-item" href="#">24x7 Customer support</a>
        <hr>
        <a class="dropdown-item" href="#">Advertise</a>
        <hr>
        <a class="dropdown-item" href="#">Download App</a>
    </div>
    <button id="cart" class="btn" routerLink="/cart"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Cart</button>
</div>