<div class="footer">
    <label id="about">
      ABOUT<br /><br />
      <a routerLink="#" class="subAbout">Contact Us</a><br /><br /><br />
      <a routerLink="#" class="subAbout">About Us</a><br /><br /><br />
      <a routerLink="#" class="subAbout">Carrers </a><br /><br /><br />
      <a routerLink="#" class="subAbout">Press</a>
    </label>
    <label id="about">
      HELP<br /><br />
      <a routerLink="#" class="subAbout">Payments</a><br /><br /><br />
      <a routerLink="#" class="subAbout">Shipping</a><br /><br /><br />
      <a routerLink="#" class="subAbout">Cancellation or Returns</a><br /><br /><br />
      <a routerLink="#" class="subAbout">FAQ</a>
    </label>
    <label id="about">
      POLICY<br /><br />
      <a routerLink="#" class="subAbout">Return Policy</a><br /><br /><br />
      <a routerLink="#" class="subAbout">Terms of Use</a><br /><br /><br />
      <a routerLink="#" class="subAbout">Security </a><br /><br /><br />
      <a routerLink="#" class="subAbout">Privacy</a>
    </label>
    <label id="about">
      SOCIAL<br /><br />
      <a routerLink="#" class="subAbout">Facebook</a><br /><br /><br />
      <a routerLink="#" class="subAbout">Twitter</a><br /><br /><br />
      <a routerLink="#" class="subAbout">Youtube</a><br /><br /><br />
      <a routerLink="#" class="subAbout">Instagram</a>
    </label>
  </div>