<app-header></app-header>
<h1>Cart</h1>
<span *ngIf="dashboardProduct.length === 0">
    <span><img src="https://media.tenor.com/images/2322364e6a7be9406868eeefaaa8ddc0/tenor.gif" id="emptyCartImage">
        <div class="alert" class="alert alert-primary">
            Your Cart Is Empty!!
        </div>
    </span>
</span>
<span *ngIf="dashboardProduct">
    <span *ngIf="dashboardProduct.length>0" class="card" id="card">
        <p>Price Details</p>
        <hr>
        Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{cartTotal | currency:'INR' }}<br><br>
        GST &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{.08 | percent}}
        <hr>
        Total Price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{gst | currency:'INR'}}
    </span>
    <span *ngFor="let prod of dashboardProduct">
        <div class="productList">
            <h4 id="orderHeader">Order#{{prod.id}}#{{prod.name}}</h4>
            <hr>
            <div>
                <p class="OrderName"> {{prod.name}}</p>
            </div>
            <div>
                <ul>
                    <li id="productImage"><img src="{{prod.image}}" class="image"></li>
                    <li id="productPrice">
                        <p id="price">{{prod.price | currency:"INR"}}</p>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li id="saveList"> <a class="save" (click)=sendItemToWishlist(prod.id)><b>Save for later</b></a>
                    </li>
                    <li id="removeList"> <a class="remove" (click)=removeItemFromCart(prod.id)><b>Remove</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </span>
    <div *ngIf="dashboardProduct.length>0" class="placeOrder">
        <button class="btn" (click)="placeOrder()">Place Order</button>
    </div>
</span>