<app-header></app-header>
<h1>Cart</h1>
<span *ngIf="dashboardProduct.length === 0" class="alert" class="alert alert-info">Your Cart is Empty</span>
<span *ngIf="dashboardProduct">
    <span class="card" id="card">
        <p>Price Details</p>
        <hr>
        Total Amount &nbsp;&nbsp; {{cartTotal | currency:'INR' }}
    </span>
    <span *ngFor="let prod of dashboardProduct">
        <div class="productList">
            <h4 id="orderHeader">Order#{{prod.id}}#{{prod.name}}</h4>
            <hr>
            <div>
                <p class="OrderName"> {{prod.name}}</p>
            </div>
            <div>
                <ul>
                    <li id="productImage"><img src="{{prod.image}}" class="image"></li>
                    <li id="productPrice">
                        <p id="price">{{prod.price | currency:"INR"}}</p>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li id="saveList"> <a class="save" (click)=removeItemFromCart(prod.id)><b>Save for later</b></a>
                    </li>
                    <li id="removeList"> <a class="remove" (click)=removeItemFromCart(prod.id)><b>Remove</b></a></li>
                </ul>
            </div>
            <hr>
            <button  class="btn" >Place Order</button>
        </div>
        <br>
    </span>
</span>