h1 {
    text-align: center;
    background-color: #2874F0;
    color: white;
    height: 4.5%;
}

#emptyCartImage {
    margin-left: 42%;
    margin-top: 3%;
}

.alert {
    width: 12%;
    margin-left: 43%;
}

.productList {
    margin-left: 5%;
    width: 49%;
    height: 42%;
    border-style: outset;
}

#quantity {
    margin-top: 2%;
    list-style-type: none;
    margin-left: 5%;
}

#priceListing {
    text-align: right;
}

#orderHeader {
    text-align: center;
    margin-top: 0;
    padding-top: 2%;
}

.OrderName {
    margin-top: 0;
    margin-left: 31%;
    font-size: larger;
}

#productName {
    text-align: center;
}

.image {
    width: 17%;
}

.save {
    margin-left: 27%;
    text-decoration: none;
    color: black;
    font-size: larger;
    cursor: pointer;
}

.save :hover {
    color: rgb(57, 57, 245);
}

#card {
    height: 30%;
    width: 25%;
    float: right;
    margin-right: 20%;
    font-size: large;
    padding: 1%;
    margin-left: 5%;
}

.remove {
    margin-left: 5%;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: larger;
}

.remove :hover {
    color: rgb(57, 57, 245);
}

#saveList {
    list-style-type: none;
    display: inline;
}

#removeList {
    list-style-type: none;
    display: inline;
}

#productPrice {
    list-style-type: none;
    display: inline;
    margin-left: .5%;
}

#productImage {
    list-style-type: none;
    display: inline;
}

#price {
    margin-left: 10%;
    font-size: larger;
    display: inline;
}

.btn {
    /* float: right; */
    margin-left: 63%;
    background-color: tomato;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 30%;
}

.placeOrder {
    border-style: outset;
    width: 49%;
    margin-left: 5%;
    margin-bottom: 20%;
}

#footer {
    margin-bottom: 0;
}