
<div class="header">
    <input id="search" type="search" placeholder="Search for products, brands and more">
    <span>
        <input type="submit" value="Login" id="loginButton"  routerLink="/login">
    </span>
    <span >
        <select id="dropDown">
            <option >user Profile</option>
            <option value=" logout">logout</option>
        </select>
        <input id="cart" type="button" value="Cart">
     </span>
     <div class="subHeader">
         <ul id ="heading">
             <li routerLink ="/men" id="men">Men</li>
             <li routerLink ="/women" id="women">Women</li>
             <li routerLink ="/electronics" id="electronics">Electronics</li>
             <li routerLink ="/grocery" id="grocery">Grocery</li>
         </ul>
     </div>
</div>
