<app-header></app-header>
<span *ngIf="womensList">
    <span *ngFor="let prod of womensList">
        <tr>
            <th>
                <div class="card" id="productList">
                    <img class="card-img-top" src="{{prod.image}}" alt="Card image">
                    <div class="card-body">
                        <h4 id="product-name" class="card-title"><b><u>{{prod.name}}</u></b></h4>
                    </div>
                </div><br>
                <button  class="btn btn-primary" class="btn btn-outline-primary"> Add To Cart
                </button><br><br><br><br>
            </th>
        </tr>
    </span>
</span>