 #productList{
    margin-left: 20%;  
    margin-top: 5%;
    background-color: rgb(205, 202, 207);
 
}
#womensImage{
    width: 35%;
    margin-top: 2%;
}
button{
    /* background-color: rgb(250, 244, 244); */
    /* color: rgb(14, 14, 10); */
    margin-left: 35%;
    outline-style: none;
    margin-top: 2%;
  }
  #product-name{
    margin-left: 29%;
    font-weight: 5%;
    color: #4f5253;
  }