.header{
   width: 100%;
   background-color: #2874F0;
   height: 12%;
}
#search{
    margin-left: 5%;
    margin-top: 1%;
    width: 30%;
    height: 50%;
}
#loginButton
{
    background-color: white;
    width: 10%;
    height: 50%;
    margin-left: 15%;
    color: rgb(88, 188, 235);
}
#logoutButton
{
    background-color: white;
    width: 10%;
    height: 50%;
    margin-left: 15%;
    color: rgb(88, 188, 235);
}
#dropDown{
    margin-left: 6%;
    background-color: white;
    width: 10%;
    height: 50%;
    color: rgb(88, 188, 235);
}
#cart{
    background-color: white;
    width: 10%;
    height: 50%;
    margin-left: 5%;
    color: rgb(88, 188, 235);
}
.subHeader{
    background-color: wheat;
    height: 40%;
}
#heading{
    list-style-type: none; 
}
#men{
    display: inline;
    margin-left: 10%;
    cursor: pointer;
    outline-style: none;
}
#women{
    display: inline;
    margin-left: 20%;
    cursor: pointer;
    outline-style: none;
}
#electronics{
    display: inline;
    margin-left: 20%;
    cursor: pointer;
    outline-style: none;
}
#grocery{
    display: inline;
    margin-left: 20%;
    cursor: pointer;
    outline-style: none;
}
.carousel{
    background: #2f4357;
    margin-top: 0;
}
.carousel-item{
    text-align: center;
    min-height: 280px;
 }
.deals{
    width: 100%;
    background-color: white;
    height: 50%;
}
h1{
    margin-left: 3%;
}
#row{
    width: 100%;
    
}
#prodImage{
    margin-left: 8%;
    width: 13%; 
    cursor: pointer;
    border: 0;
    text-decoration: none;
    outline-style: none;
}
  #dealButton{
    background-color: rgb(250, 244, 244);
    color: rgb(14, 14, 10);
    margin-left: -11%;
    opacity: .3;
    
  }
  #dealButton:hover {
      opacity: .9;
    
  }
  .footer{
    width: 100%;
    background-color: #172337;
    height: 400%;
  }
  #about{
    margin-left: 10%;
    color: grey;
    text-align: left;
    margin-top: 3.5%;
  }
  .subAbout{
      color: honeydew;
      text-decoration: none;
      text-align: left;
  }