<app-header></app-header>
<!-- <input id="cart" type="button" class="btn" value="Cart" routerLink="/cart" /> <br /><br /> -->
<nav class="navbar navbar-expand-sm  ">
    <ul class="navbar-nav">
        <li class="nav-item" id="men">
            <a class="nav-link" routerLink="/men">Men</a>
        </li>
        <li class="nav-item" id="women">
            <a class="nav-link" routerLink="/women">Women</a>
        </li>
        <li class="nav-item" id="electronics">
            <a class="nav-link" routerLink="/electronics">Electronics</a>
        </li>
        <li class="nav-item" id="grocery">
            <a class="nav-link" routerLink="/grocery">Grocery</a>
        </li>
    </ul>
    <hr>
</nav>
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="assets/images/clothes.jpg" alt="first Slide" style="width: 100%; height: 60vh; cursor: pointer; border:0; text-decoration:none; outline:none" routerLink="#" />
            </div>
            <div class="carousel-item ">
                <img src="assets/images/womenClothes.jfif" alt="second Slide" style="width: 100%; height: 60vh; cursor: pointer; border:0; text-decoration:none; outline:none" routerLink="#" />
            </div>
            <div class="carousel-item ">
                <img src="assets/images/phones.jfif" alt="third Slide" style="width: 100%; height: 60vh; cursor: pointer; border:0; text-decoration:none; outline:none" routerLink="#" />
            </div>
            <div class="carousel-item ">
                <img src="assets/images/grocery.jfif" alt="fourth Slide" style="width: 100%; height: 60vh; cursor: pointer; border:0; text-decoration:none; outline:none" routerLink="#" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<br />
<div class="deals">
    <h1>Deals Of The Day</h1>
    <hr />
</div><br><br><br>
<span *ngIf="products">
  <span *ngFor="let prod of products">

    <tr>
      <div style="margin-left: 23%;" class="container-fluid">
        <th>
          <div class="card" id="productList" routerLink="/description"  (click)="sendItemToDescriptionPage(prod.id)">
            <img class="card-img-top"  src="{{prod.image}}" alt="Card image">
            <div class="card-body">
              <h4 id="product-name" class="card-title"><b><u>{{prod.name}}</u></b></h4>
              <h4 id="product-name" class="card-title"><b><u>{{prod.price | currency:'INR'}}</u></b></h4>
            </div>
          </div><br>
          <button id="dealButton" class="btn btn-primary" class="btn btn-outline-primary"
            (click)="sendItemToCart(prod.id)">
            Add To Cart
          </button><br><br><br><br><br>
        </th>
      </div>
    </tr>

  </span>
</span>
<br><br>

<app-footer></app-footer>