
<div class="header">
    <img src="assets/images/myCart.jfif"  routerLink ="/dashboard" style="width: 3%; margin-left: 2%; cursor: pointer;">
       <input id="search" type="search" placeholder="Search for products, brands and more">
       <span>
           <input type="submit" value="Login" id="loginButton"  routerLink="/login" >
       </span>
       <span >
           <select id="dropDown">
               <option >user Profile</option>
               <option value=" logout">logout</option>
           </select>
           <input id="cart" type="button" value="Cart">
        </span><br><br>
        <div class="subHeader">
            <ul id ="heading">
                <li routerLink ="/men"  id="men">Men</li>
                <li routerLink ="/women"  id="women">Women</li>
                <li routerLink ="/electronics" id="electronics">Electronics</li>
                <li routerLink ="/grocery" id="grocery">Grocery</li>
            </ul>
        </div>
        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/clothes.jpg"  alt="First Slide" style="width: 40%;" >
                        </div>
                        <div class="carousel-item ">
                            <img src="assets/images/womenClothes.jfif" alt="second Slide" style="width: 40%;">
                        </div>
                        <div class="carousel-item ">
                            <img src="assets/images/phones.jfif" alt="third Slide" style="width: 40%;">
                        </div>
                       <div class="carousel-item ">
                            <img src="assets/images/grocery.jfif" alt="fourth Slide" style="width: 40%;">
                        </div>
                   </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
       </div>
       <br>
       <div class="deals">
            <h1>Deals Of The Day</h1><hr>
       </div>
       <div><br>
           <span id="dealProduct">
               <img src = "assets/images/dealShoes.jpg">
           </span>&nbsp;
           <span id="dealProduct">
               <img src = "assets/images/dealEarphone.jpg">
           </span>&nbsp;
           <span id="dealProduct">
            <img src="assets/images/dealTshirt.jpg">
           </span>&nbsp;
           <span id="dealProduct">
               <img src="assets/images/dealGlove.jpg">
           </span>&nbsp;
           <span id="dealProduct">
               <img src="assets/images/dealJacket.jpg">
           </span>
           <span id="dealProductButton">
              <input type="button" value="view All">
           </span>
       </div>

</div>
