.carousel{
    background: #2f4357;
    margin-top: 0;
}
.bs-example{
  margin-top: 2%;
}
.carousel-item{
    text-align: center;
    min-height: 280px;
 }
.deals{
    width: 100%;
    background-color: white;
    /* height: 50%; */
}
h1{
    margin-left: 3%;
}
#row{
    width: 100%;
    
}
#prodImage{
    margin-left: 18%;
    width: 13%; 
    cursor: pointer;
    border: 0;
    text-decoration: none;
    outline-style: none;
    width: 70.5%;
    margin-top: 3%;
}
  #dealButton{
    background-color: rgb(250, 244, 244);
    color: rgb(14, 14, 10);
    margin-left: 35%;
    outline-style: none;
    margin-top: 2%;
  }

  #productList{
    list-style-type: none ;
    float: left;
    
}
