<app-header></app-header>

<div class="registerPage">
    <form [formGroup]="userRegistration">
        <div id="registerForm">
            <h2>
                <u><i>Registration Form</i> </u>
            </h2>
            <br />
            <label>
          First Name :<br />
          <input type="text" id="signupForm" class="form-control" formControlName="firstName" /><br />
          <span *ngIf="
              !userRegistration.get('firstName').valid &&
              userRegistration.get('firstName').dirty
            ">
            <em><u>Please enter valid first name</u></em></span>
        </label>
            <br /><br />
            <label>
          Last Name :<br />
          <input type="text" class="form-control" formControlName="lastName" /><br />
          <span *ngIf="
              !userRegistration.get('lastName').valid &&
              userRegistration.get('lastName').dirty
            ">
            <em><u>Please enter valid last name</u></em></span>
        </label>
            <br /><br />
            <label>
          Email :<br />
          <input type="text" class="form-control" formControlName="email" /><br />
          <span *ngIf="
              !userRegistration.get('email').valid &&
              userRegistration.get('email').dirty
            ">
            <em><u>Please enter valid email</u></em></span>
        </label>
            <br /><br />
            <label>
          D.O.B :<br />
          <input type="date" class="form-control datepicker" formControlName="date" /><br />
          <span *ngIf="
              !userRegistration.get('date').valid &&
              userRegistration.get('date').touched
            ">
            <em><u>Please enter valid date</u></em></span>
        </label>
            <br /><br />
            <label>
          Gender :<br />
          <input type="radio" name="gender" value="Male" />Male <br />
          <input type="radio" name="gender" value="Female" />Female <br />
          <input type="radio" name="gender" value="Others" />Others
        </label>
            <br /><br />
            <label>
          Password :<br />
          <input type="password" class="form-control" formControlName="password" /><br />
          <span *ngIf="
              !userRegistration.get('password').valid &&
              userRegistration.get('password').dirty
            ">
            <em><u>Please enter valid password</u></em></span>
        </label>
            <br /><br />
            <label>
          <button class="btn btn-primary" routerLink="/login" type="button" [disabled]="!userRegistration.valid"
            (click)="onSubmit()">
            Submit</button><br /><br />
          <span *ngIf="!userRegistration.valid">
            <ul>
              <em><u>Note:</u></em>
              <li>No space is allowed</li>
              <li>Minimum 4 characters needed</li>
            </ul>
          </span>
        </label>
        </div>
    </form>
</div>

<app-footer></app-footer>