
form{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
    background-color: rgb(192, 223, 213);
  }
 div{
   margin-left: 20%;
 }
 button{
  color: rgb(38, 0, 255);
  background-color: darkgrey;
  outline: none;
 }